@charset "UTF-8";
@import "./reset.css";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* main {
  margin-top: 100px;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 12px;
  height: 100vh;
  place-content: center;
  /* grid-auto-columns: minmax(100px, auto) */
}

.box {
  background-color: rgb(16, 46, 69);
}